@media screen and (max-width:980px){
  main .wrap{
  padding: 0 15px;
  }
 .h1{
  font-size: 60px;
}
.h2{
  font-size: 50px;
}
.h3{
  font-size: 40px;
}
.h4{
  font-size: 30px;
}
.h5{
  font-size: 25px;
  }
.h6{
  font-size: 20px;
}
.p{
  font-size: 16px;
  line-height: 1.6;
}
/*  header  */
  header .wrap{
  border-radius: initial;
  background-color: white;
  }
  header .wrap ul.gnb{
  display: none;
  }
  header .wrap span.lang{ 
  display: none;
  }
  header .wrap .ham{
  display: flex;
  }
/*  promotion  */
  section#promotion .wrap{
  padding: 0;
  }
  section#promotion .wrap h2{
    
  padding: 0 15px;
  }
  section#promotion .wrap .vo{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  section#promotion .wrap .vo iframe{
  width: calc(100vw - 30px);
  height: calc(36.25vw - 30px);
  }
  section#promotion .wrap .vo h6{
  }
  section#promotion .wrap .vo p{
  text-align: center;
  }
/*  business  */
  section#business .wrap ul{
  flex-direction: column;
  align-items: center;
  gap: 50px;
  }
  section#business .wrap ul li a::before{
    width: 500px;
    height: 250px
  }
  section#business .wrap h2::after{
    display: none;
  }  
/*  products  */
  section#products .wrap ul li a h3::before{
    display: none;
  }
  section#products .wrap ul{
  display: block;
  }
  section#products .wrap ul li:nth-child(-n+3) {
    width: 100%;
  }
  section#products .wrap ul li:nth-child(n+4) {
    width: 100%;
  }
/*  news  */
  section#news{
    height: 100%;
  padding: 0 15px;    
  }
  section#news .box{ 
  flex-wrap: wrap;
  }
  section#news .box .left::after{
    display: none;
  }
  section#news .box .right::after{
    display: none;
  }  
/*  footer  */
  footer .wrap{
  justify-content: space-between;
  padding: 0 15px;
  }
  footer .wrap div ul.fnb{
    display: none;
  }
  footer .wrap div{
  width: auto;
  }
  footer .wrap ul.pnb{
  width: auto;
  } 
  footer .wrap a.blog{
  right: 15px;
  }
  }
}